@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250; /* #fafafa */
    --foreground: 23 23 23;    /* #171717 */
  }

  .dark {
    --background: 0 0 0;       /* #000000 */
    --foreground: 237 237 237; /* #ededed */
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins);
  }
}

